.body {
    background-image: url(blue-pexels-steve-johnson-1183992.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    }
    .h1{
        padding-top: 80px;
        font-weight: 500px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .h1{
        font-weight: bold;
    }
    
  .username , .password{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    
    outline: none;
    color: #fff;
    
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    
      color: grey;
      border-style: double;
      background-color: skyblue;
      text-decoration: none;
  }
  
    input[type=text]{

        display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    
    outline: none;
    color: #fff;
    
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
      border-style: none;
      text-decoration: none;
      }



input[type=password]{
        display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    
    outline: none;
    color: #fff;
    
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
      color: grey;
      border-style: none;
      
      text-decoration: none;  
      }

      input[type=submit] {
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        
        outline: none;
        color: #fff;
        
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
          color: black;
          border-style: none;
          padding-left: 15px;
          text-decoration: none;    
      }
      